*{
    //background-color: beige;
  //  background: rgb(194, 85, 75);
}

.hdrlogin
{
  background-image: linear-gradient(rgba(162, 97, 97, 0.5), rgba(209, 133, 133, 0.5)), url('../../assets/img/Transport1.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}
/* .formLogin{

  background-image: url('../../assets/img/Transport1.jpeg');

} */
