
<div class="container-fluid">

    <div  style="background-color: rgb(236, 237, 237);height: 100px;">
      <h1  class="title" style="font-size: xx-large;width: 400px; ">  Ajouter Type de Lieux</h1>
      </div>
      <div style="border-bottom:1px solid  #bb0502;width: 21cm;margin-bottom: 10px;" >
      </div>
    <form  [formGroup]="FormTypelieux" >

      <div class="row-container">
        <label class="col-sm-4" for="input1" style="width: 110px;"> Code </label>
        <input type="text" class="form-control" formControlName="code" id="code" name="code" style="font-size: medium;"
        [(ngModel)]="TypeLieux.code"  >

      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4"><span class="  validation-error" style="margin-right: 10px;" *ngIf="(formSubmitted) && FormTypelieux.controls.code.errors?.required">vous devez remplir le champ</span></div>


      </div>
      </div>
      <div><br><br></div>
      <div class="row-container">
        <label class="col-sm-4" for="input4" style="width: 110px;">Désignation</label>
        <textarea  cols="10" rows="5" type="text" class="form-control" formControlName="designation" id="designation" name="designation"  style="font-size: medium;" [(ngModel)]="TypeLieux.designation" > </textarea>


      </div>
      <div class="container">
        <div class="row">
          <div class="col-md-4"></div>
          <div class="col-md-4"><span class="  validation-error" style="margin-right: 10px;" *ngIf="(formSubmitted) && FormTypelieux.controls.designation.errors?.required">vous devez remplir le champ</span></div>


      </div>
      </div>
      <div><br><br></div>



    </form>
    <div   class=" d-flex align-items-end justify-content-end"
    style="border-top:1px solid  #bb0502;margin-top: 10px;">
      <Button class="btn btn-lg" style="color: white;background: linear-gradient(to bottom,#FB404B 0%,#bb0502 100%);margin-top: 10px;width: 100px;height: 40px;font-size: medium;" (click)="RegisterlistTypelieux()" > Ajouter </Button>
      <Button class="btn btn-lg" style="margin-top: 10px;color: white; margin-left: 10px;background: linear-gradient(to bottom,#FB404B 0%,#bb0502 100%);width: 100px;height: 40px;font-size: medium;" (click)="closedialog()"> Fermer </Button>


    </div>
    </div>
